# Python
__pycache__/
*.pyc
db.sqlite3
.env

# Django
*.log

# Node (React)
node_modules/
**/node_modules/
frontend/build/

# Env
venv/
env/
cv_matching/

# Workspace cleanup
backend/
media/cvs/sample_cv_*.pdf

# OS
.DS_Store 
